# Ignore node_modules in both backend and frontend
**/node_modules/
# Ignore React build output
# product-catalogue-frontend/build
# Environment files (do not push secrets)
*.env
.env
.DS_Store